// html {
//   width: 100%;
//   height: 100%;
// }

.get-started {
  justify-content: center;
  margin: auto;
  // background: rgba(211, 211, 211, 0.1);
  flex-direction: column;
  width: 275px;
  height: 300px;
  margin-top: 175px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

body {
  // background-image: image-url('Optimized-d1aehdnbq0h21.jpg');
  background: #001935;
  // background-size: cover;
  height: 100%;
  width: 100%;
}

.splash {
  background-image: image-url('Optimized-d1aehdnbq0h21.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.logo {
  font-weight: 700;
  font-family: 'Fredoka One', cursive;
  font-size: 55px;
  padding-top: 15px;
  margin-bottom: 15px;
  animation: alertPulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}

.logo-div {
  margin-bottom: 10px;
  // text-align: center;
}

.btn {
  display: block;
  background-color: #e1e1e1;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 3px;
  width: 96%;
  transform: translate(2%, 4%);
  border-radius: 5px;
  // box-shadow: 2px 4px;
  // border: 2px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}


.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.btn:active {
    color: #000
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 5px;
}


@keyframes glowing {
   0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.username {
  border: 2px solid;
  // margin-top: 3px;
  background-color: white;
  width: 96%;
  height: 30px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid black;
  caret-color: black;
  color: black;
  font-family: sans-serif;
}

.password {
  border: 2px solid;
  background-color: white;
  width: 96%;
  height: 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  caret-color: black;
  color: black;
  font-family: sans-serif;
}

.login-form {
  justify-content: center;
  margin: auto;
  // background: rgba(211, 211, 211, 0.1);
  flex-direction: column;
  width: 275px;
  height: 155px;
  margin-top: 230px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.btn-switch {
  display: block;
  background-color: #59acff;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 40px;
  width: 96%;
  transform: translate(1%, 1%);
  border-radius: 5px;
  // box-shadow: 2px 4px;
  border: 2px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.formErrors {
  background-color: rgba(211, 211, 211, 0.1);
  font-family: sans-serif;
  border-radius: 3px;
}

.logout {
  // background-color: #e1e1e1;
  // width: 35px;
  // height: 35px;
  // border-radius: 4px;
  // font-family: sans-serif;
  // text-align: center;
  position: fixed;
  top: 10px;
  right: 8px;
  transform: translate(-10%, -10%);
}


.motto {
  font-family: sans-serif;
  color: white;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.motto-container {
  display: flex;
  width: 10px;
  margin-left: 51px;
  margin-bottom: 28px;
}

.demo-login {
  display: block;
  // background-color: #e1e1e1;
  width: 90px;
  height: 45px;
  font-family: sans-serif;
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  top: 10px;
  // margin-top: 10px;
  border: none;
  outline: none;
  color: #fff;
  // background: #111;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}


.demo-login:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.demo-login:active {
    color: #000
}

.demo-login:active:after {
    background: transparent;
}

.demo-login:hover:before {
    opacity: 1;
}

.demo-login:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}